/*-----------------------

    GENERAL

-----------------------*/
ul
{
    list-style-type: none;
    padding-left: 0;
}
.ms-w-30-px
{
    max-width: 30px;
}
td:not(:first-child), th:not(:first-child)
{
    text-align: center;
}
.action
{
    width: 30px;
    height: 30px;
    border: 1px solid #6c757d;
    line-height: 25px;
    border-radius: 5px;
}
.square
{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
}
.card-header
{
    font-size: 30px;
}
.ms-fs
{
    font-size: 14px;
}
.fa-bell, .plus
{
    cursor: pointer;
}
/*-----------------------

    MS-COLOR

-----------------------*/
.ms-bg-darkblue
{
    background-color: #051e34;
}
.ms-bg-blue
{
    background-color: #165bba;
}
.ms-clr-grey
{
    color: #6c757d;
}
.ms-clr-orange
{
    color: orange;
}
/*-----------------------

    MS-PAGE-CONTAINER

-----------------------*/
.ms-page-container
{
    height: calc(100vh - 70px);
}
/*-----------------------

    HEADER

-----------------------*/
header
{
    height: 70px;
}
.mobile-logo
{
    max-width: 40px;
}
header .mobile-logo
{
    display: none;
}
/*-----------------------

    ASIDE

-----------------------*/
aside
{
    width: 150px;
    background-image: url("./img/sidebar-bg.png");
}
/*-----------------------

    MAIN

-----------------------*/
main
{
    width: calc(100% - 150px);
    overflow-y: auto;
}
.boolean-plus
{
 display: none;
}
.offcanvas-end
{
    min-width: 45% !important;
}
/*-----------------------

    MEDIA-QUERY

-----------------------*/
@media screen and (max-width: 1400px)
{
    .boolean-pill
    {
        display: none;
    }
    .boolean-plus
    {
        display: inline;
    }
}
@media screen and (max-width: 1200px)
{
    /*-----------------------

        MAIN

    -----------------------*/
    main .data
    {
        display: none;
    }
    .boolean-plus
    {
        display: inline;
    }
    .student-count
    {
        flex-direction: column;
    }
    .count-new
    {
        order: 1;
    }
    .count-boolean
    {
        order: 2;
    }
    .count-count
    {
        order: 3;
    }
} 
@media screen and (max-width: 992px) 
{
    /*-----------------------

        HEADER

    -----------------------*/
    header .fa-bars
    {
        display: none;
    }
    header .fa-circle-question
    {
        display: none;
    }
    header .fa-ellipsis-vertical
    {
        display: none;
    }
    header .logo
    {
        display: none;
    }
    header .mobile-logo
    {
        display: inline;
    }
    /*-----------------------

        ASIDE

    -----------------------*/
    aside
    {
        width: 50px;
    }
    aside span
    {
        display: none;
    }
    /*-----------------------

        MAIN

    -----------------------*/
    main
    {
        width: calc(100% - 50px);
    }
    main .roi
    {
        display: none;
    }
    .offcanvas-end
    
    {
        min-width: 100% !important;
    }

}