/*-----------------------

    GENERAL

-----------------------*/
ul
{
    list-style-type: none;
    padding-left: 0;
}
.ms-w-30-px
{
    max-width: 30px;
}
.ms-w-40 
{
    min-width: 45% !important;   
}
td:not(:first-child), th:not(:first-child)
{
    text-align: center;
}
.action
{
    width: 30px;
    height: 30px;
    border: 1px solid #6c757d;
    line-height: 25px;
    border-radius: 5px;
}
.square
{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
}
.card-header
{
    font-size: 30px;
}
.ms-fs
{
    font-size: 14px;
}
.fa-bell, .plus
{
    cursor: pointer;
}
/*-----------------------

    MS-COLOR

-----------------------*/
.ms-bg-darkblue
{
    background-color: #051e34;
}
.ms-bg-blue
{
    background-color: #165bba;
}
.ms-clr-grey
{
    color: #6c757d;
}
.ms-clr-orange
{
    color: orange;
}
/*-----------------------

    MS-PAGE-CONTAINER

-----------------------*/
.ms-page-container
{
    height: calc(100vh - 70px);
}
/*-----------------------

    HEADER

-----------------------*/
header
{
    height: 70px;
}
/*-----------------------

    ASIDE

-----------------------*/
aside
{
    width: 150px;
    background-image: url("./img/sidebar-bg.png");
}
/*-----------------------

    MAIN

-----------------------*/
main
{
    width: calc(100% - 150px);
    overflow-y: auto;
}
/*-----------------------

    MEDIA-QUERY

-----------------------*/
@media screen and (min-width:) {
    
}